.articles-years {
    display        : flex;
    align-items    : center;
    justify-content: center;
    padding        : 7px 8px;
    font-size      : 12px;
    line-height    : 96.023%;
    color          : #64748B;
    border-radius  : 4px;
    text-decoration: none;
}

.articles-years:hover,
.articles-years:focus {
    color: #ef7a1c;
}

.articles-years.active {
    border: 1px solid #64748B;
}

.articles-years.active:hover,
.articles-years.active:focus {
    color: #64748B;
}

/*  */
.articles-cards {
    margin-top: 21px;
}

.articles-card {
    display        : flex;
    flex-direction : column;
    overflow       : hidden;
    border-radius  : 12px;
    border         : 1px solid #E2E8F0;
    background     : #fff;
    color          : #2D2D2D !important;
    text-decoration: none;
    margin-bottom  : 30px;
}

.articles-card__container {
    padding: 20px;
}

.articles-card__data {
    font-size     : 12px;
    font-weight   : 600;
    line-height   : 15px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    opacity       : 0.8;
    color         : #2d2d2d;
}

.articles-card__title {
    display           : flex;
    align-items       : center;
    justify-content   : flex-start;
    margin           : 8px 0;
    color             : #2D2D2D;
    display           : -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow          : hidden;
}

.articles-card__text {
    font-size         : 14px;
    font-style        : normal;
    font-weight       : 400;
    line-height       : normal;
    letter-spacing    : -0.088px;
    opacity           : 0.8;
    display           : -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow          : hidden;
    margin            : 0;
    padding           : 0;
}
a:hover .articles-card__title,
a:focus .articles-card__title {
    color: #ef7a1c;
}