.card-items {
    display              : grid;
    grid-template-columns: repeat(3, 1fr);
    gap                  : 30px;
}

.card__item {
    display        : flex;
    flex-direction : column;
    text-decoration: none;
    border-radius  : 12px;
    border         : 1px solid #E2E8F0;
    padding        : 24px;
    transition     : all .2s ease-in-out;

}

.card__item:hover,
.card__item:focus {
    position : relative;
    transform: translateY(-10px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1),
        0 4px 6px -2px rgba(0, 0, 0, .05);
}

.card__item-title {
    color      : #2D2D2D;
    font-size  : 20px;
    font-weight: 700;
    line-height: 19px;
    margin     : 23px 0 12px 0;
}

.card__item-text {
    color      : #64748B;
    font-size  : 16px;
    font-style : normal;
    font-weight: 500;
    line-height: 24px;
}

/* media */

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {}

/* // `xl` applies to medium devices (tablets, less than 1200px) */
@media (max-width: 1199.98px) {
    .card-items {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {}

/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {}

/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .card-items {
        grid-template-columns: repeat(1, 1fr);
    }
}