.table-container {
    max-height    : 500px;
    padding-bottom: 80px;
    overflow      : auto;
}

table {
    border-collapse: separate;
    border-spacing : 0;
    width          : 100%;
}

.table thead {
    position     : sticky;
    top          : 0px;
    z-index      : 11;
    border-bottom: 1px solid #6d6d6e !important;
}

.table th {
    background-color: #ffffff !important;
    color           : #64748B;
    padding         : 10px;
    min-width       : 100%;
    font-size       : 14px;
    line-height     : 15px;
}

.table-bordered>:not(caption)>*>* {
    border-width: 1px 1px 0 0 !important;
    border      : 1px solid #6d6d6e;
}

.table-bordered {
    border-left  : 1px solid #6d6d6e;
    border-bottom: 1px solid #6d6d6e;
}

.table-bordered .table-content {
    justify-content: center;
}

.table-x-scroll tr>*:first-child {
    position        : sticky;
    left            : 0;
    background-color: #ffffff;
    border-right    : 1px solid #64748B;
}

.table-x-scroll .table-content {
    justify-content: center;
}

.table thead {
    vertical-align: middle !important;
}

table tbody {
    vertical-align: middle !important;
}

.table td {
    padding: 10px;
}

.table-content {
    display    : flex;
    align-items: center;
    text-wrap  : nowrap;
    font-size  : 14px;
    min-height : 35px;
}

.table-min tbody tr td+td {
    border-left: 1px solid #64748B;
}

.statys {
    border       : 1px solid #64748B;
    border-radius: 2px;
    width        : 100%;
    height       : 20px;
}

.occupancy-percent {
    width        : 70px;
    height       : 16px;
    border       : 1px solid #64748B;
    border-radius: 2px;
}

.bg-orange {
    background: #ed9200;
}

.bg-danger-red {
    background: #5c1313;
}

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {}

/* // `xl` applies to medium devices (tablets, less than 1200px) */
@media (max-width: 1199.98px) {}

/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

    .table-x-scroll tr>*:first-child {
        position: relative;

    }

    .nav-tabs .nav-link {
        font-size: 14px;
    }
}

/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {}

/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {}