body {
    background-color: #e7e7e7;
    color           : #2d2d2d;
}

/* header */
.logo-text {
    display   : block;
    font-size : 13px;
    margin-top: -10px;
}

/* yнавигация */
.nav-item+.nav-item {
    margin-left: 15px;
}

.nav-link {
    font-size: 18px;
    color    : #2d2d2d;
}

.nav-link:focus,
.nav-link:hover {
    color           : #ef7a1c;
    background-color: #bababa;

}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color           : #ef7a1c;
    background-color: #bababa;


}
/* /header */

/* footer */

/* /footer */

/* btn */
.btn-notifications {
    position   : relative;
    display    : flex;
    align-items: center;
}
/* /btn */

.notifications {
    position        : absolute;
    display         : flex;
    align-items     : center;
    justify-content : center;
    top             : -2px;
    right           : -10px;
    content         : '';
    width           : 26px;
    height          : 18px;
    border-radius   : 5px;
    background-color: red;
    font-size       : 16px;
    font-weight     : 500;
}

/* border */
.border-bottom-info {
    border-bottom: 1px solid #bababa !important;
}
.border-top-info {
    border-top: 1px solid #bababa !important;
}
/* /border */

/* colors */
.text-black {
    color: #2d2d2d;
}

.text-info {
    color: #bababa !important;
}

.text-tochki {
    color: #ef7a1c !important;
}
/* /colors */